* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Raleway", sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  background: url(../images/bg-desktop.png), hsl(229, 57%, 11%);
  background-size: 100% 50%;
  background-repeat: no-repeat;
  background-position: bottom;
  background-attachment: fixed;
}
.container {
  max-width: 91rem;
  margin: 23rem auto;
  display: flex;
  align-items: flex-end;
  gap: 3rem;
}

.x {
  width: 34rem;
  height: 20rem;

  background-color: hsl(228, 56%, 26%);
  border-radius: 0.8rem;
  border-top-right-radius: 10rem;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  padding-top: 3.2rem;
  padding-left: 3.2rem;
}
.fylo-icons {
  display: flex;
  gap: 2rem;
}

.icon {
  width: 4.5rem;
  height: 4.5rem;
  background-color: hsl(229, 57%, 11%);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.8rem;
}
.y {
  width: 54rem;
  height: 16rem;
  background-color: hsl(228, 56%, 26%);
  border-radius: 0.8rem;
  color: hsl(243, 100%, 93%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  position: relative;
  color: hsl(243, 100%, 93%);
}

progress {
  display: block;
  border: none;
  width: 45rem;
  height: 2rem;
  margin-top: 2rem;
}
progress::-webkit-progress-bar {
  border-radius: 1rem;
  background: hsl(229, 57%, 11%);
}
progress::-webkit-progress-value {
  border-radius: 1rem;
  background: linear-gradient(to right, hsl(6, 100%, 80%), hsl(335, 100%, 65%));
  border: 3px solid hsl(229, 57%, 11%);
}

.remaining {
  display: flex;
  justify-content: space-around;
  gap: 37rem;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
}
.shape {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  position: absolute;
  top: -25%;
  right: 7%;
}
.box {
  height: 6rem;
  width: 15rem;
  background-color: #fff;
  border-radius: 8px;
  border-bottom-right-radius: 0;
  color: hsl(229, 7%, 55%);
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 2px;
}
.box p {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.box strong {
  color: hsl(229, 57%, 11%);
  font-size: 3.4rem;
  letter-spacing: 0;
}
.triangle {
  width: 0;
  height: 0;
  border-left: 2rem solid transparent;
  border-top: 2rem solid #fff;
}
@media (max-width: 24em) {
  html {
    font-size: 50%;
  }
  body {
    background: url(../images/bg-mobile.png);
  }
  .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15rem;
  }
  .y {
    width: 34rem;
  }
  progress {
    width: 28rem;
  }
  .remaining {
    gap: 20rem;
  }
  .triangle {
    display: none;
  }
  .box {
    border-bottom-right-radius: 8px;
  }
  .shape {
    bottom: -15%;
    right: 30%;
  }
}
